<div class="site-wrapper">
  <footer class="site-footer">
    <div class="container">

      <div class="widgets-wrapper">
        <div class="logo-wrapper">
          <img src="assets/images/logoMibancoLab.png">
          <p>© 2024 MibancoLab - Todos los derechos reservados</p>
        </div>
        <div class="widget">
          <p class="title">Nuevos Lanzamientos</p>
          <ul>
            <li><a>Recomendados Mibanco</a></li>
            <li><a>Préstamo Mi Efectivo Semilla</a></li>
            <li><a>Juntas</a></li>
            <li><a>Academia del Progreso</a></li>
          </ul>
        </div>

        <div class="widget">
          <p class="title">Productos Mibanco</p>
          <ul>
            <li><a (click)="goToCalculator()">Calcula Tipo de Cambio</a></li>
            <li><a>Solicita tu préstamo</a></li>
          </ul>
        </div>

        <div class="widget">
          <p class="title">Acerca de MibancoLab</p>
          <ul>
            <li><a>¿Tienes dudas?</a></li>
            <li><a>Contáctanos</a></li>
            <li><a>Términos y Condiciones</a></li>
            <li><a>Política de Cookies</a></li>
          </ul>
        </div>
        <div class="widget">
          <div>
            <img src="assets/icons/ic-book-open.svg" /> <a class="book">Libro de Reclamaciones</a>
          </div>
        </div>

      </div>
    </div>
  </footer>
</div>
