<div class="wrapper">
  <div class="wrapper-remittance">
    <div class='row'>
      <div class='column'>
        <div class='one-column'>
          <div>
            <div class="title">Envía y recibe dinero del</div>
            <div class="title">extranjero con Mibanco</div>
            <div class="title mobile">Envía y recibe dinero del extranjero con Mibanco</div>
            <div class="subtitle">Disponible para más de 200 países </div>
          </div>

        </div>
      </div>
      <div class='column'>
        <div class='two-column'>
          <img src="assets/images/remittance-hero.png">
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper-wish">
    <div class="wish-container">
      <div class="wish-title">¿Que deseas hacer hoy?</div>

      <input type="radio" id='tab1' name='tabs' checked />
      <label class="first tab1" for='tab1'>Quiero enviar</label>

      <input type="radio" id='tab2' name='tabs' />
      <label class="tab2" for='tab2'>Quiero recibir</label>

      <div class="tab-panels">

        <div class="tab-panel panel1">
          <div class="container">
            <div class="description">Podrás hacerlo en solo 4 pasos:</div>
            <div>
              <img src="assets/images/wish-one.png">
            </div>
          </div>
        </div>

        <div class="tab-panel panel2">
          <div class="container">
            <div class="description">Podrás hacerlo en solo 4 pasos:</div>
            <div>
              <img src="assets/images/wish-two.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper-cost">
    <div class="cost-container">
      <div class="col-one">
        <img src="assets/images/remittance-man.png">
      </div>
      <div class="col-two">
        <p class="title">¿Cuánto me cuesta el envío?</p>
        <p class="description">Conoce los costos a cada país y las modalidades de envío.</p>
        <div class="button-wrapper">
          <button type="button" class="primary" (click)="downloadPdfCost()">
            Ver Tarifario
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
